.about {
  p {
    color: $darkblue;
    font-size: 18px;
    font-weight: 500;
    margin-top: 80px;
    line-height: 28px;

    @media screen and (max-width: 992px) {
      margin-top: 0px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  p + p {
    margin-top: 30px;
    font-weight: 400;
    color: $rollingStone;
  }

  figure {
    margin-bottom: 40px;

    img {
      max-width: 100%;
    }
  }

  &__img {
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media screen and (max-width: 640px) {
      justify-content: center;
    }
  }

  &-head {
    margin-top: 110px;
    background: url(../images/about/bg.jpg) no-repeat center top;
    background-size: cover;
    position: relative;

    @media screen and (max-width: 1024px) {
      margin-top: 70px;
    }

    .container {
      position: relative;
      height: calc(100vh - 110px);

      @media screen and (max-width: 768px) {
        height: calc(100vh - 300px);
      }
    }

    .breadcrumb {
      position: absolute;
      top: 108px;
      left: 0;
    }

    &__title {
      text-align: center;
      margin-top: 10%;

      img {
        max-width: 100%;

        @media screen and (max-width: 768px) {
          max-width: 70%;
        }
      }
    }

    &__table {
      position: absolute;
      bottom: 0;
      z-index: 1;

      img {
        max-width: 100%;
      }

      @media screen and (max-width: 768px) {
        bottom: 60px;
      }
    }

    &__bottom {
      width: 100%;
      height: 97px;
      background: url(../images/about/white.png) center bottom;
      position: absolute;
      z-index: 2;
      bottom: 0;
    }
  }

  &-timeline {
    width: 100%;
    position: relative;
    background: url(../images/about/timeline/bg.jpg) center top no-repeat
      #d9e7f1;
    background-size: cover;
    padding: 120px 0;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      padding: 30px 0 120px;
    }

    h2 {
      font-size: 36px;
      font-weight: 600;
      color: #e70a34;
      margin: 0;
      text-align: center;
      span {
        color: #2b4ca6;
      }
    }

    .container {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
    }

    &__timeline {
      margin-top: 10px;
      position: relative;
      @media screen and (max-width: 768px) {
        order: 2;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;

        &:after {
          @media screen and (max-width: 768px) {
            width: 100vw;
            height: 3px;
            content: "";
            background: #2b4ca6;
            position: absolute;
            left: calc(((100vw - 510px) / 2) * -1);
            bottom: 48px;
          }
        }

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: flex-end;
          position: relative;
          width: 110px;

          @media screen and (max-width: 1024px) {
            width: 80px;
          }

          @media screen and (max-width: 768px) {
            flex-direction: column;
            width: 40px;
          }

          &:first-child {
            &:before {
              display: none;
            }
          }

          &:before {
            width: 80px;
            height: 3px;
            content: "";
            background: #2b4ca6;
            position: absolute;
            bottom: 124px;
            left: -42px;
            z-index: 1;

            @media screen and (max-width: 1024px) {
              width: 50px;
              left: -27px;
            }

            @media screen and (max-width: 768px) {
              display: none;
            }
          }

          &:after {
            @media screen and (max-width: 768px) {
              width: 18px;
              height: 18px;
              position: absolute;
              content: "";
              background: #2b4ca6;
              border-radius: 100%;
              opacity: 1;
              @include transition(0.5s);
              bottom: 40px;
            }
          }

          figure {
            @media screen and (max-width: 768px) {
              display: none;
            }
          }

          > div {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 56px;
            padding-top: 20px;
            margin-bottom: 20px;
            position: relative;
            border-radius: 28px;
            @include transition(0.5s);
            cursor: pointer;
            z-index: 2;

            @media screen and (max-width: 768px) {
              display: none;
            }

            &:after {
              width: 18px;
              height: 18px;
              position: relative;
              content: "";
              background: #2b4ca6;
              border-radius: 100%;
              margin: 20px 0;
              opacity: 0;
              @include transition(0.5s);
            }

            &:before {
              width: 30px;
              height: 30px;
              position: absolute;
              content: "";
              background: #2b4ca6;
              border-radius: 100%;
              bottom: 14px;
              opacity: 0;
              @include transition(0.5s);
            }
          }

          &.active,
          &:hover {
            > div {
              background: $white;
              box-shadow: 14px 0px 24px 0px rgba(0, 0, 0, 0.17);
              @media screen and (max-width: 768px) {
                display: inline-flex;
              }

              .about-timeline-timeline__years {
                @media screen and (max-width: 768px) {
                  display: flex !important;
                  color: #e70a34;
                }
              }

              &:before {
                opacity: 0.5;
              }

              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &-timeline {
      &__years {
        color: #70797e;
        font-size: 14px;
        font-weight: 500;
        transform: rotate(-90deg);
        margin: 10px 0;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      &__arrow {
        position: absolute;
        width: 80px;
        height: 40px;
        cursor: pointer;
        top: 50%;
        margin-top: 11px;
        z-index: 1;

        @media screen and (max-width: 768px) {
          top: auto;
          bottom: -40px;
        }

        &:before {
          width: 90px;
          height: 3px;
          content: "";
          background: #2b4ca6;
          position: absolute;
          z-index: 1;
          margin-top: 18px;
          z-index: 1;

          @media screen and (max-width: 1024px) {
            width: 50px;
          }

          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        &--left {
          background: url(../images/about/timeline/left.png) no-repeat center
            center;
          left: 0;

          @media screen and (max-width: 768px) {
            left: 50%;
            margin-left: -79px;
          }

          &:before {
            right: -90px;

            @media screen and (max-width: 1024px) {
              right: -50px;
            }
          }
        }

        &--right {
          background: url(../images/about/timeline/right.png) no-repeat center
            center;
          right: 0;

          @media screen and (max-width: 768px) {
            right: 50%;
            margin-right: -79px;
          }

          &:before {
            left: -90px;
            @media screen and (max-width: 1024px) {
              left: -50px;
            }
          }
        }
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 768px) {
        order: 1;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #70797e;
        font-size: 18px;
        height: 260px;
        width: 666px;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          position: absolute;
          z-index: 1;
          opacity: 0;
          @include transition(0.5s);
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            position: absolute;
            z-index: 2;
            text-align: center;
          }

          h3 {
            position: relative;
            z-index: 1;
            font-size: 250px;
            color: #2b4ca6;
            opacity: 0.05;
            margin: 0;

            @media screen and (max-width: 768px) {
              font-size: 180px;
            }
          }

          &.active {
            z-index: 2;
            opacity: 1;
          }
        }
      }
    }
  }
}
