.about {
  p {
		color: $darkblue;
		font-size: 18px;
    font-weight: 500;
    margin-top: 80px;
    line-height: 28px;
	}

	p + p{
    margin-top: 30px;
    font-weight: 400;
    color: $rollingStone;
  }
  
  figure{
    margin-bottom: 40px;
  }
  
  &-head {
    margin-top: 110px;
    background: url(../images/about/bg.jpg) no-repeat center top;
    background-size: cover;
    position: relative;

    .container {
      position: relative;
      height: calc(100vh - 110px);
    }

    .breadcrumb {
      position: absolute;
      top: 108px;
      left: 0;
    }

    &__title {
      text-align: center;
      margin-top: 10%;
    }

    &__table {
      position: absolute;
      bottom: 0;
    }

    .scroll {
      width: 40px;
      height: 66px;
      background: url(../images/icons/scroll-w.png) no-repeat center center;
      left: 50%;
      margin-left: -20px;
      top: 50%;
      margin-top: -33px;
      bottom: auto;
      right: auto;

      &:before {
        top: 10px;
        left: 20px;
      }
    }
  }
}


@media screen and (max-width: 1366px) {
  .about {
   &-head{
     .scroll{
       margin-top: 150px;
     }
   }
  }
}