.card {
  position: relative;
  margin: 15px 0;

  &__more {
    padding: 10px 30px 10px 20px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    background: $pink;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    color: $rollingStone;

    &:after {
      font-family: "sinangil" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\62";
      margin-top: 8px;
      margin-left: 20px;
    }

    &-button {
      position: absolute;
      width: 120px;
      height: 60px;
      bottom: -34px;
      left: 50%;
      margin-left: -60px;
      background: url(../images/cards/protrusion.png) center bottom no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: $blueHaze;
      @include transition(0.5s);

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        background: $blackSqueeze;
        border-radius: 100%;
        @include transition(0.5s);
      }
    }
  }

  &--small {
    padding: 35px;
    background: $white;
    border-radius: 20px;
    overflow: hidden;
    width: 560px;
    box-shadow: -14px 14px 24px 0px rgba(0, 0, 0, 0.17);

    h4 {
      font-size: 18px;
      margin: 0;
      color: $red;
      font-weight: 600;
    }

    h2 {
      color: $darkblue;
      font-size: 30px;
      margin: 0;
      font-weight: 600;
    }

    figure {
      position: absolute;
      right: 0px;
      top: 0px;
    }

    p {
      color: $rollingStone;
      font-size: 16px;
      font-weight: 500;
      width: 60%;
    }

    .card__more {
      margin-top: 80px;
    }
  }

  &--news {
    background: $white;
    border-radius: 20px;
    padding: 40px;
    min-height: 450px;
    margin-bottom: 60px;
    box-shadow: 14px 14px 24px 0px rgba(0, 0, 0, 0.04);

    figure {
      border-radius: 20px;
      overflow: hidden;
      display: flex;

      img {
        width: 100%;
        display: inline-block;
      }
    }

    h2 {
      color: $darkblue;
      font-size: 18px;
      font-weight: 600;
    }

    p {
      color: $osloGrey;
      font-size: 14px;
      margin-top: 20px;
    }

    span {
      color: $osloGrey;
      font-size: 12px;
      font-weight: 600;
      margin-top: 50px;
      display: block;
      @include transition(0.5s);
    }

    &:hover {
      span {
        color: $red;
      }

      .card__more-button {
        color: $white;

        i {
          background: $darkblue;
        }
      }
    }
  }

  &--newspaper {
    width: 210px;
    margin-left: 50px;
    padding: 20px;
    min-height: auto;
    text-align: center;
    padding-bottom: 40px;

    figure {
      display: flex;
      border: 1px solid $blackSqueeze;
      padding: 10px;
      border-radius: 10px;
    }

    h2 {
      margin-bottom: 0;
    }

    span {
      margin-top: 8px;
    }
  }

  &--certificate {
    background: $white;
    width: 230px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 14px 14px 24px 0px rgba(0, 0, 0, 0.04);

    img {
      max-width: 100%;
    }
  }

  &--recipe {
    background: $white;
    border-radius: 20px;
    min-height: 450px;
    margin-bottom: 60px;
    box-shadow: 14px 14px 24px 0px rgba(0, 0, 0, 0.04);

    figure {
      border-radius: 20px;
      overflow: hidden;
      display: flex;

      img {
        width: 100%;
        display: inline-block;
      }
    }

    h2 {
      color: $darkblue;
      font-size: 26px;
      font-weight: 600;
      padding: 0 40px;
      margin: 0;
    }

    h3 {
      color: $red;
      font-size: 20px;
      font-weight: 600;
      padding: 0 40px;
      margin: 0;
    }

    p {
      color: $osloGrey;
      font-size: 14px;
      margin-top: 10px;
      padding: 0 40px;
    }

    &:hover {
      .card__more-button {
        color: $white;

        i {
          background: $darkblue;
        }
      }
    }
  }

  &--product {
    background: $white;
    border-radius: 20px;
    padding: 40px;
    min-height: 360px;
    margin-bottom: 60px;
    box-shadow: 14px 14px 24px 0px rgba(0, 0, 0, 0.04);

    figure {
      z-index: 2;
      position: absolute;
      bottom: 20px;

      img {
        max-width: 100%;
      }
    }

    h2 {
      color: $darkblue;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin: 0;
    }

    h3 {
      color: $osloGrey;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      margin: 0;
    }

    &:hover {
      .card__more-button {
        color: $white;

        i {
          background: $darkblue;
        }
      }
    }
  }

  &__img {
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &:before {
      width: 100%;
      height: 113px;
      content: "";
      position: absolute;
      z-index: 1;
      background: #f2f3f4;
      border-radius: 20px;
      bottom: 0;
      left: 0;
    }
  }

  &--product-detail {
    background: $white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 14px 14px 24px 0px rgba(0, 0, 0, 0.04);
    height: 210px;
    overflow: hidden;

    figure {
      border-radius: 20px;
      overflow: hidden;
    }
  }

  &--recipe-detail {
    background: $white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 14px 14px 24px 0px rgba(0, 0, 0, 0.04);
    margin-bottom: 60px;

    &:before {
      position: absolute;
      width: 120px;
      height: 60px;
      bottom: -34px;
      left: 50%;
      margin-left: -60px;
      background: url(../images/cards/protrusion.png) center bottom no-repeat;
      content: "";
    }

    a:focus {
      outline: 0;
    }

    figure {
      border-radius: 10px;
      overflow: hidden;
      display: flex;

      img {
        width: 100%;
        display: inline-block;
      }
    }

    h6 {
      color: $darkblue;
      font-size: 18px;
      font-weight: 600;
      margin: 20px 0 10px;
      text-align: center;
    }

    span {
      color: $white;
      background: $red;
      display: block;
      font-size: 18px;
      width: 38px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      margin-left: -19px;
      bottom: -20px;
    }
  }

  &--address {
    border-radius: 10px;
    box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.16);
    padding: 60px;
    background: $white;
    height: 392px;

    h5{
      margin: 0;
      font-size: 20px;
      font-weight: 600;
      color: #e40134;
      line-height: 1;
    }

    h2 {
      margin: 0;
      font-size: 36px;
      font-weight: 600;
      color: #2b4ca6;
      line-height: 1;
    }

    table {
      width: 100%;
      color: #818d92;
      margin-top: 55px;
      font-size: 16px;

      th {
        text-align: left;
        padding: 5px 0;
        width: 36px;
      }

      td {
        padding: 5px 10px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
}
