.card {
  position: relative;
  margin: 15px 0;

  &__more {
    padding: 10px 30px 10px 20px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    background: $pink;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    color: $rollingStone;

    &:after {
      font-family: "sinangil" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\62";
      margin-top: 8px;
      margin-left: 20px;
    }

    &-button {
      position: absolute;
      width: 120px;
      height: 60px;
      bottom: -34px;
      left: 50%;
      margin-left: -60px;
      background: url(../images/cards/protrusion.png) center bottom no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: $blueHaze;
      @include transition(0.5s);
      

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        background: $blackSqueeze;
        border-radius: 100%;
        @include transition(0.5s);
      }
    }
  }

  &--small {
    padding: 35px;
    background: $white;
    border-radius: 20px;
    overflow: hidden;
    width: 560px;
    box-shadow: -14px 14px 24px 0px rgba(0, 0, 0, 0.17);

    h4 {
      font-size: 18px;
      margin: 0;
      color: $red;
      font-weight: 600;
    }

    h2 {
      color: $darkblue;
      font-size: 30px;
      margin: 0;
      font-weight: 600;
    }

    figure {
      position: absolute;
      right: 0px;
      top: 0px;
    }

    p {
      color: $rollingStone;
      font-size: 16px;
      font-weight: 500;
      width: 60%;
    }

    .card__more {
      margin-top: 80px;
    }
  }

  &--news {
    background: $white;
    border-radius: 20px;
    padding: 40px;
    min-height: 450px;
    margin-bottom: 60px;
    box-shadow: 14px 14px 24px 0px rgba(0,0,0,0.04);

    figure {
      border-radius: 20px;
      overflow: hidden;
      display: flex;

      img {
        width: 100%;
        display: inline-block;
      }
    }

    h2 {
      color: $darkblue;
      font-size: 18px;
      font-weight: 600;
    }

    p {
      color: $osloGrey;
      font-size: 14px;
      margin-top: 20px;
    }

    span {
      color: $osloGrey;
      font-size: 12px;
      font-weight: 600;
      margin-top: 50px;
      display: block;
      @include transition(0.5s);
    }

    &:hover{
      span{
        color: $red;
      }

      .card__more-button{
        color: $white;

        i{
          background: $darkblue;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
}
