.faq {
  background: #4b8d55;
  position: relative;

  &__title {
    position: absolute;
    top: 110px;
    @media screen and (max-width: 1024px) {
      display: none;
    }
    h3 {
      color: $white;
      margin: 0;
      font-size: 24px;
      font-weight: 600;
    }

    h2 {
      font-size: 40px;
      color: #0a2777;
      margin: 0;
      line-height: 36px;
      font-weight: 600;
    }

    span {
      position: absolute;
      color: $white;
      font-size: 160px;
      left: 223px;
      top: -10px;
      line-height: 100px;
      font-weight: 600;
    }
  }

  .accordion {
    display: none;
    margin-bottom: 40px;

    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
}