.filter {
  .select2 {
		width: 100% !important;
		
  }

  .select2-container .select2-selection--single {
    height: 60px;
    border: 0;
    border-radius: 30px;
		outline: 0;
		box-shadow: 14px 14px 24px 0px rgba(0,0,0,0.04);

    .select2-selection__rendered {
      padding-left: 32px;
    }
  }

  .select2-container--default .select2-selection--single {
    .select2-selection__rendered {
			line-height: 60px;
			font-size: 14px;
			color: $darkblue;
			font-weight: 600;
    }

    .select2-selection__arrow {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      color: red;
      font-size: 20px;
      top: 20px;
      right: 20px;

      &::before {
        content: "\f078";
      }

      b {
        display: none;
      }
    }
	}
}

.select2-dropdown{
	border: 0;
}

.select2-container--default .select2-results__option{
	font-weight: 500;
	font-size: 14px;
	color: $rollingStone;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background: $darkblue;
}