$headerHeight: 110px;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: $white;
  box-sizing: border-box;

  &__logo {
    position: absolute;
    top: 0;
    z-index: 9;

    img {
      max-width: 100%;
      display: inline-block;
      border-left: 1px solid rgba($color: #818d92, $alpha: 0.5);
    }
  }

  .no-gutters {
    position: relative;
  }

  nav {
    position: relative;
    z-index: 2;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    position: relative;

    &:after {
      width: 1px;
      height: 50px;
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 30px;
      background: $osloGrey//rgba(255, 255, 255, 0.3);
    }

    li {
      position: relative;
      display: flex;
      align-items: center;
      a {
        color: $osloGrey;
        padding: 0 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: $headerHeight;
        position: relative;

        &:hover {
          color: $darkblue;
        }
      }
    }

    &--dropdown {
      font-size: 14px;
      margin-left: 155px;

      &:before {
        display: none !important;
      }

      ul {
        display: none;
      }

      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $darkblue;
        color: $white !important;
        height: $headerHeight;
        position: relative;
        padding: 0 !important;
        width: 150px;
        padding-left: 35px !important;

        &:before {
          display: inline-flex;
          content: "";
          width: 20px;
          height: 2px;
          background: $white;
          position: absolute;
          margin-left: -63px;
          margin-top: -2px;

          @media screen and (max-width: 1366px) {
            margin-left: -56px;
          }
        }
        &:after {
          display: inline-flex !important;
          content: "";
          width: 10px;
          height: 2px;
          background: $white;
          position: absolute;
          margin-left: -68px;
          margin-top: 5px;
          @include transition(0.5s);
          @media screen and (max-width: 1366px) {
            margin-left: -61px;
          }
        }
      }

      &:hover {
        > a {
          color: $white;
          &:after {
            width: 20px;
            margin-left: -63px;
          }
        }
      }
    }

    &--active {
      > a {
        color: $darkblue !important;
      }

      &.header__nav--dropdown {
        a {
          background: #e8eeff !important;
          color: #e70a34 !important;

          &:before,
          &:after {
            background: #2b4ca6 !important;
          }
        }
      }
    }

    &--hover {
      > a {
        background: #e8eeff !important;
        color: #e70a34 !important;

        &:before,
        &:after {
          background: #2b4ca6 !important;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
  }

  &__calendar {
    @media screen and (max-width: 1024px) {
      display: none;
    }
    a {
      color: $osloGrey;
      position: relative;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        position: relative;
        content: "";
        display: block;
        background: url(../images/icons/calendar-h.png) no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
    }
  }

  &__professional {
    display: block;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid $osloGrey; //rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 43px;

    &:before {
      width: 117px;
      height: 14px;
      content: "";
      display: block;
      background: url(../images/icons/prof-h.png) no-repeat center center;
    }
  }

  &__language {
    position: relative;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    > a {
      border: 1px solid rgba(255, 255, 255, 0.3);
      display: inline-block;
      padding: 6px 6px 4px;
      border-radius: 50%;
    }

    span {
      display: none;
    }

    ul {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 99;
      width: 70px;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 14px;
      display: none;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
          color: $toreaBay;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;

          &:hover {
            border-radius: 100%;
            border: 1px solid $mariner;
            box-sizing: border-box;
          }
        }

        &:after {
          width: 1px;
          height: 10px;
          display: inline-flex;
          content: "";
          background: $toreaBay;
        }

        &:first-child {
          margin-top: 20px;

          a {
            color: $white;
            background: $mariner;
          }
        }

        &:last-child {
          margin-bottom: 20px;
          &:after {
            display: none;
          }
        }
      }
    }
    &--active {
      a {
        border-radius: 100%;
        border: 1px solid $white;
        box-sizing: border-box;
      }
    }
  }

  &--home {
    background: transparent;
    border-bottom: 1px solid $white;

    .header {
      &__logo {
        img {
          border-left: 1px solid transparent;
        }
      }
      &__nav {
        &:after {
          background: rgba(255, 255, 255, 0.3);
        }

        li {
          a {
            color: $white;

            &:hover {
              color: $darkblue;
            }
          }
        }
      }

      &__calendar {
        a {
          color: $white;

          &:before {
            background: url(../images/icons/calendar.png) no-repeat;
          }
        }
      }

      &__professional {
        border: 1px solid rgba(255, 255, 255, 0.3);

        &:before {
          background: url(../images/icons/prof.png) no-repeat center center;
        }
      }
    }

    &.header--shrink {
      border-bottom: 1px solid rgba($color: #818d92, $alpha: 0.5);
      .header {
        &__logo {
          img {
            border-left: 1px solid rgba($color: #818d92, $alpha: 0.5);
          }
        }
        &__nav {
          &:after {
            background: $osloGrey;
          }

          li {
            a {
              color: $osloGrey;

              &:hover {
                color: $darkblue;
              }
            }
          }
        }

        &__calendar {
          a {
            color: $osloGrey;

            &:before {
              background: url(../images/icons/calendar-h.png) no-repeat;
            }
          }
        }

        &__professional {
          border: 1px solid $osloGrey;

          &:before {
            background: url(../images/icons/prof-h.png) no-repeat center center;
          }
        }
      }
    }
  }

  &--shrink,
  &--open {
    background: $white;
    @include transition(0.5s);
    border: 0px;
  }

  &__mobile-nav,
  .mobile-visible {
    display: none;
  }

  &__product {
    position: absolute;
    background: #e8eeff;
    width: calc(100% - 155px);
    right: 0;
    display: flex;
    transform: translateY(-100%);
    @include transition(0.3s);
    z-index: -100;
    height: 0;
    overflow: hidden;
    opacity: 0;

    &--opened {
      height: auto;
      opacity: 1;
      z-index: 2;
      transform: translateY(0);
    }
  }

  &-product {
    &__buttons {
      display: none;
    }
    &__parent {
      padding: 35px 0;
      width: 294px;
      background: #e8eeff;
      position: relative;
      z-index: 2;
      ul {
        font-size: 12px;
        margin: 0;
        padding: 0;
        font-weight: 600;
        list-style: none;
        padding-left: 18px;

        li {
          margin-top: -15px;
        }

        a {
          color: #2b4ca6;
          width: 276px;
          height: 53px;
          position: relative;
          padding-left: 50px;
          display: flex;
          align-items: center;

          &:hover,
          &.header-product__parent--active {
            background: url(../images/header/navbg.png) no-repeat right center;

            &:before {
              display: none;
            }

            &:after {
              width: 16px;
              height: 16px;
              background: #e70a34;
              border-radius: 100%;
              content: "";
              position: absolute;
              left: 11px;
            }
          }

          &:before {
            width: 16px;
            height: 4px;
            content: "";
            position: absolute;
            left: 11px;
            background: #c9d3e9;
            border-radius: 2px;
            margin-top: 2px;
          }
        }
      }
    }

    &__child {
      background: #f9faff;
      padding: 50px 20px 50px 40px;
      width: 330px;
      position: relative;
      z-index: 2;

      ul {
        font-size: 12px;
        margin: 0;
        padding: 0;
        font-weight: 600;
        list-style: none;
        padding-left: 18px;
        display: none;

        a {
          color: #2b4ca6;
          display: block;
          padding: 15px 0 10px;
          border-bottom: 1px solid transparent;

          &:hover {
            color: #e70a34;
            border-color: #e70a34;
          }
        }
      }

      &--active {
        display: block !important;
      }
    }

    &__image {
      background: #ebebeb;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% - 624px);
      position: relative;
      z-index: 2;
      img {
        max-width: 100%;
      }

      figure {
        display: none;
      }

      &--active {
        display: block !important;
      }

      @media screen and (max-width: 1024px) {
        display: none !important;
      }
    }
  }

  &__shadow {
    position: fixed;
    background: rgba($color: #212044, $alpha: 0.5);
    top: 110px;
    left: 0;
    z-index: -101;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    height: calc(100% - 110px);
    visibility: hidden;
    @include transition(0.4s);
    &--active {
      opacity: 1;
      z-index: 1;
      visibility: visible;
    }
  }
}

@media screen and (max-width: 1366px) {
  .header {
    &__nav {
      li {
        a {
          padding: 0 16px;
        }
      }
      &--dropdown {
        > a {
          width: 120px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .header {
    &__nav {
      li {
        a {
          padding: 0 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 70px;
    border-color: rgba($color: $white, $alpha: 0.5);

    &__logo {
      width: 120px;
    }

    .mobile-visible {
      display: flex;
    }

    &__professional {
      position: fixed;
      top: 10px;
      right: 90px;
      width: 132px;

      &:before {
        background: url(../images/icons/prof-h.png) no-repeat center center !important;
      }
    }

    &__mobile-nav {
      display: flex;
      width: 70px;
      height: 70px;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      background: #2b4ca6;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 0px;
      top: 0;
      z-index: 999;

      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 25px;
        background: $white;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        border-radius: 2px;
        overflow: hidden;

        &:nth-child(1) {
          margin-top: -9px;
        }

        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 5px;
        }

        &:nth-child(3) {
          margin-top: 5px;
        }
      }

      &--open {
        span {
          &:nth-child(1) {
            margin-top: 0px;
            width: 0%;
          }

          &:nth-child(2) {
            transform: rotate(45deg);
            margin-top: 0px;
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            margin-top: 0px;
          }
        }
      }
    }

    &__nav {
      width: 100%;
      flex-direction: column;
      margin-top: 100px;

      li {
        width: 100%;

        a {
          width: 100%;
        }
      }

      &--dropdown {
        margin-left: 0;
      }

      &:after {
        display: none;
      }
    }

    &__right {
      position: fixed;
      bottom: -100px;
      left: 10px;
      width: calc(100% - 20px);
      border-top: 1px solid #cdd4da;
      padding: 13px 0;
      @include transition(0.5s);
    }

    nav {
      transform: translateY(-100%);
      @include transition(0.4s);
      z-index: -100;
      height: 0;
      overflow: hidden;
      opacity: 0;
      display: flex !important;
      position: fixed;
      left: 0;
      right: 0;
      width: 100%;
      background: #eef3f9;
      top: 70px;
      align-items: baseline;

      &:after {
        display: none;
      }
    }

    &__navigation {
      &--opened {
        height: calc(100vh - 70px) !important;
        overflow: auto !important;
        opacity: 1 !important;
        transform: translateY(0) !important;
        scroll-behavior: smooth;
        padding: 0 40px;

        .header {
          &__nav {           

            a {
              height: 60px;
              justify-content: flex-start;
              border-radius: 10px;
              padding-left: 50px;
              color: #2b4ca6 !important;
            }

            &--active {
              a {
                color: #e70a34 !important
              }
            }

            &--dropdown {
              margin-left: 0;

              &:after {
                width: 28px;
                height: 15px;
                content: "";
                background: url("../images/header/arrow.png") no-repeat;
                position: absolute;
                right: 10px;
              }

              > a {
                width: 100%;
                padding-left: 50px !important;
                color: $white !important;

                &:before,
                &:after {
                  margin-left: -30px;
                }
              }
            }
          }
        }
      }
    }

    &--open {
      .header {
        &__right {
          bottom: 0;
        }

        &__calendar {
          display: flex;
          position: relative;

          a {
            color: #818d92;

            &:before {
              background: url(../images/icons/calendar-h.png) no-repeat;
            }
          }

          &:after {
            width: 1px;
            height: 62px;
            background: #cdd4da;
            position: absolute;
            right: -30px;
            content: "";
            top: -20px;
          }
        }

        &__language {
          display: flex;
          width: 140px;

          > a {
            display: none;
          }

          ul {
            display: flex;
            position: relative;

            li {
              img {
                display: none;
              }

              &:after {
                display: none;
              }

              &:first-child {
                margin: 0;
                a {
                  background: transparent;
                }
                border-right: 1px solid #cdd4da;
              }

              &:last-child {
                margin: 0;
              }

              a {
                width: 75px !important;
                height: 62px !important;
                color: #818d92 !important;
              }

              &.active {
                a {
                  color: #2b4ca6 !important;
                }
              }
            }
          }

          span {
            display: flex;
          }
        }

        &__product {
          height: calc(100vh - 70px);
          position: fixed;
          right: 0;
          top: 70px;
          width: 0;
          overflow-x: hidden;
          overflow-y: auto;
          transform: translateY(0);

          &--opened {
            z-index: 8;
            width: 100%;

            .header {
              &-product {
                &__buttons {
                  display: flex;
                  position: fixed;
                  z-index: 999;
                  right: 0;
                  ul {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                      width: 70px;
                      height: 70px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background: #798fc7;
                      color: $white;
                      font-size: 14px;
                      font-weight: 600;
                      flex-direction: column;

                      &:last-child {
                        background: #526db7;
                      }
                    }
                  }
                }

                &__parent {
                  padding-top: 100px;
                  width: 100vw;
                  z-index: 1;
                  height: calc(100vh - 70px);
                  overflow-y: auto;

                  &--active,
                  &:hover {
                    background: transparent;
                    color: #e70a34;

                    &:after {
                      display: none;
                    }

                    &:before {
                      display: flex;
                    }
                  }

                  ul {
                    a {
                      &:hover {
                        background: transparent !important;
                        color: #e70a34 !important;
                      }

                      &:after {
                        display: none !important;
                      }
                    }
                  }
                }

                &__child {
                  position: fixed;
                  z-index: 2;
                  @include transition(0.5s);
                  right: -100vw;
                  width: 100vw;
                  padding-top: 100px;
                  height: calc(100vh - 70px);

                  &--open {
                    right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
