.news {
  &-head {
    background: $serenade;
    margin-top: 110px;

    @media screen and (max-width: 1024px) {
      margin-top: 70px;
    }

    @media screen and (max-width: 992px) {
      padding-top: 80px;
    }

    h4 {
      color: $red;
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }

    h1 {
      font-size: 50px;
      font-weight: 600;
      color: $darkblue;
      margin: 0;
      line-height: 38px;

      @media screen and (max-width: 768px) {
        font-size: 32px;
        line-height: 1;
      }
    }

    p {
      color: $osloGrey;
      font-size: 15px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }

    &__nav {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      position: relative;
      justify-content: flex-end;
      @media screen and (max-width: 992px) {
        margin: 0 -15px;
      }

      li {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #ffd2dd;
        margin-bottom: 52px;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 992px) {
          margin-bottom: 0px;
          width: 50%;
        }

        &:after {
          position: absolute;
          height: 0px;
          width: 100%;
          background: #ffd2dd;
          content: "";
          bottom: 0px;
          left: 0;
          display: block;
          cursor: pointer;
          @include transition(0.5s);

          @media screen and (max-width: 992px) {
            display: none;
          }
        }

        &:nth-child(2) {
          background: #ffeebe;

          &:after {
            background: #ffeebe;
          }
        }

        &:nth-child(3) {
          background: #d8efff;
          display: none !important;
          &:after {
            background: #d8efff;
          }
        }

        &:hover {
          &:after {
            height: 52px;
            bottom: -52px;
          }
        }
      }

      &--active {
        &:after {
          height: 52px !important;
          bottom: -52px !important;
        }

        @media screen and (max-width: 992px) {
          background: #eef3f9 !important;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 215px;

        @media screen and (max-width: 992px) {
          height: 120px;
        }
      }

      figure {
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          @media screen and (max-width: 992px) {
            width: 70%;
          }
        }
      }

      span {
        font-size: 13px;
        font-weight: 600;
        color: $scarpaFlow;

        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }

  &-list {
    background: $blackSqueeze;
    padding: 40px 0;
    overflow: hidden;

    .row + .row {
      margin-top: 30px;
    }
  }
}
