.product {
  margin-top: 90px;
  &__food {
    position: relative;
    top: 0px;

    img {
      width: 100%;
      height: calc(100vh - 90px);
      object-fit: cover;
      display: inherit;
    }
  }

  &__detail {
    padding: 90px;
  }

  h1 {
    color: $eastBay;
    font-size: 72px;
    line-height: 1;
    font-weight: 700;
    margin: 0;
  }

  h2 {
    color: $orange;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
  }

  h4 {
    color: $orange;
    font-size: 18px;
    font-weight: 700;
  }

  p {
    font-size: 17px;
    margin-top: 60px;
    color: $eastBay;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }

  .hr {
    background: $westar;
    width: 100%;
    height: 1px;
    margin: 50px auto;
  }

  table {
    color: $eastBay;
    font-size: 17px;
    width: 100%;
    margin-bottom: 30px;

    th {
      text-align: left;
      font-weight: 500;
      padding: 15px 0;
      border-top: 1px solid $westar;
    }
    td {
      text-align: right;
      padding: 15px 0;
      border-top: 1px solid $westar;
    }
  }

  &__box {
    border: 1px solid $westar;
    margin-top: 17px;
    box-sizing: border-box;
    padding: 35px;

    h4 {
      margin: 0px;
    }

    p {
      margin-top: 24px;
      font-size: 15px;
    }
  }

  &-box {
    &__quantity {
      position: relative;
      font-size: 30px;
      color: $eastBay;
      font-weight: 700;

      span {
        font-size: 18px;
      }

      &:after {
        width: 1px;
        height: 80px;
        position: absolute;
        display: inline-block;
        content: "";
        right: 20px;
        top: 0;
        background: $westar;
      }

      &--last {
        &:after {
          display: none;
        }
      }
    }

    &__name {
      font-weight: 500;
      font-size: 14px;
      color: $eastBay;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    color: $eastBay;
    font-size: 17px;
    margin-top: 30px;

    li {
      &:before {
        position: relative;
        display: inline-block;
        font-family: "alpa" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\61";
        transform: rotate(-90deg);
        font-size: 10px;
        margin-right: 15px;
        color: $orange;
      }
    }
  }

  &__recipe {
    padding: 30px;
    box-sizing: border-box;
    background: $orange;
    position: relative;
    margin-top: 18px;

    h5 {
      color: $eastBay;
      font-size: 18px;
      font-weight: 700;
      margin: 0;
      position: relative;
      z-index: 2;
    }

    h6 {
      color: $white;
      font-size: 18px;
      font-weight: 700;
      margin: 5px 0 0;
      line-height: 20px;
      position: relative;
      z-index: 2;
    }

    a {
      color: $white;
      font-size: 18px;
      font-weight: 700;
      margin: 17px 0 0;
      display: inline-flex;
      align-items: center;
      position: relative;
      z-index: 2;

      &:after {
        position: absolute;
        display: inline-block;
        font-family: "alpa" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\61";
        transform: rotate(-90deg);
        font-size: 14px;
        right: -15px;
        @include transition(0.5s);
      }

      &:hover {
        &:after {
          right: -30px;
        }
      }
    }

    figure {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__cat {
    margin-top: 40px;
  }

  &-cat {
    &__tags {
      display: flex;

      a {
        display: block;
        padding: 10px 28px;
        color: $eastBay;
        font-size: 18px;
        border: 1px solid $westar;
        margin-right: 20px;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}

@supports (position: sticky) {
  .product__food {
    position: sticky;
    top: 90px;
  }
}

@media screen and (max-width: 1440px) {
  .product {
    &__detail {
      padding: 45px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .product {
    &-box {
      &__quantity {
        font-size: 24px;
      }

      &__name {
        font-size: 11px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .product {
    margin-top: 70px;

    &__food {
      position: relative;
      top: 0px !important;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .product {
    h1 {
      margin-top: 30px;
      font-size: 60px;
    }
    p {
      margin-top: 10px;
    }

    .hr {
      margin: 25px auto;
    }

    &-box {
      &__quantity {
        text-align: center;
        margin-top: 10px;

        &:after {
          right: -20px;
        }
      }

      &__name {
        text-align: center;
      }
    }
  }
}
