.recipe-slider {
  background: $mabel;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 170px 0;

  &__img {
    position: absolute;
    z-index: 1;

    &--1 {
      left: 0;
      top: -70px;
    }

    &--2 {
      left: 0;
      top: 50%;
      margin-top: -50px;
    }

    &--3 {
      left: 0;
      bottom: -220px;
    }

    &--4 {
      left: 400px;
      bottom: -150px;
    }
  }

  &__text {
    width: 25%;
    left: calc((100vw - 1290px) / 2);
    position: relative;
    z-index: 2;

    h5 {
      color: $darkblue;
      font-size: 30px;
      font-family: "arista_pro_bold";
      margin: 0;
    }

    h2 {
      color: $red;
      font-size: 84px;
      font-family: "arista_pro_bold";
      margin: 0;
    }

    figure {
      position: absolute;
      left: 140px;
      top: -70px;
    }

    p {
      color: $rollingStone;
      font-size: 16px;
      font-weight: 500;

      span {
        font-weight: 600;
      }
    }
  }

  &__more-button {
    padding: 10px 30px 10px 20px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    background: $linkWater;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    color: $darkblue;

    &:after {
      font-family: "sinangil" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\62";
      margin-top: 8px;
      margin-left: 20px;
    }
  }

  &__slider {
    width: 50%;
    position: relative;
    margin-top: -50px;

    .swiper {
      &-wrapper {
        padding: 50px 0 50px 50px;
      }

      &-slide {
        width: 70%;
        opacity: 0.5;

        &-active {
          opacity: 1;
        }
      }

      &-button {
        &-prev {
          width: 80px;
          height: 40px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $poloBlue;
          border: 2px solid $poloBlue;
          box-sizing: border-box;
          top: auto;
          bottom: 0;
          left: 50px;

          &:focus{
						outline: 0;
					}

          &:after {
            font-family: "sinangil" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\62";
            margin-top: -8px;
            transform: rotate(180deg);
          }
        }

        &-next {
          width: 80px;
          height: 40px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $poloBlue;
          border: 2px solid $poloBlue;
          box-sizing: border-box;
          top: auto;
          right: auto;
          bottom: 0;
          left: 530px;

          &:focus{
						outline: 0;
					}

          &:after {
            font-family: "sinangil" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\62";
            margin-top: 8px;
          }
        }
      }

      &-scrollbar {
        height: 30px;
        width: 400px;
        margin-left: 130px;
        margin-bottom: 5px;
        background: transparent;
        position: relative;
        
        &:before{
          width: 100%;
          height: 2px;
          background: $poloBlue;
          display: block;
          position: absolute;
          content: '';
          top: 50%;
          margin-top: -1px;
        }

        &-drag{
          background: url(../images/icons/drag.png) center center $poloBlue no-repeat;
          padding: 0 10px;
          height: 30px;
          border-radius: 15px;
          box-shadow: 14px 14px 24px 0px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
