.secret {
  background: url(../images/secret/bg.jpg) no-repeat center top $blackSqueeze;
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;

  &-head {
    margin-top: 110px;
    padding: 130px 0 70px;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 1024px) {
      margin: 0;
    }

    &__text {
      position: relative;
      z-index: 3;

      p {
        width: 70%;
        color: #818d92;
        font-size: 15px;

        @media screen and (max-width: 1024px) {
         width: 100%;
        }
      }

      img {
        @media screen and (max-width: 480px) {
          width: 800px;
         }
      }
    }

    .breadcrumb {
      margin-top: 30px;
    }
  }

  &-list {
    position: relative;
    z-index: 2;

    .container {
      position: relative;
      z-index: 2;
    }
  }

}
