.share-page {
  background: $blackSqueeze;
  position: relative;
  padding: 110px 0 100px;

  &__content {
    position: relative;
    z-index: 2;
    width: 75%;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      padding-top: 130px;
    }
  }

  .breadcrumb {
    margin: 100px 0 90px;
  }

  h1 {
    font-size: 72px;
    color: $darkblue;
    margin: 0;

    @media screen and (max-width: 1024px) {
      font-size: 60px;
    }

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }

  span {
    color: $red;
  }

  p {
    font-size: 16px;
    color: $osloGrey;
    margin-bottom: 100px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 50px;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  figure {
    display: flex;
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      @include transition(0.5s);
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    @media screen and (max-width: 1024px) {
      display: none;
    }

    &--2 {
      top: 0px;
      left: 0;
    }

    &--3 {
      top: 0px;
      right: 0;
    }

    &--4 {
      top: 10%;
      left: 10%;
    }

    &--5 {
      bottom: -170px;
      left: 5%;
    }

    &--6 {
      top: 22%;
      right: 0;
    }
  }

  &__instagram {
    position: absolute;
    right: -33%;
    top: 0;
    border-radius: 60px;
    width: 120px;
    display: flex;
    flex-direction: column;
    border: 2px solid $red;
    height: 613px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: $blackSqueeze;

    @media screen and (max-width: 1024px) {
      position: relative;
      right: auto;
      top: auto;
      width: 100%;
      height: 70px;
      flex-direction: row;
      padding: 0 20px;
      margin-bottom: 70px;
    }
  }

  &-instagram {
    &__title{
      color: $darkblue;
      font-size: 24px;
      font-weight: 700;
      margin-top: 30px;

      span {
        @media screen and (max-width: 640px) {
          display: block;
        }
      }

      @media screen and (max-width: 1024px) {
        margin-top: 0px;
      }

      @media screen and (max-width: 640px) {
        line-height: 1;
        font-size: 18px;
      }
    }

    &__icon {
      position: absolute;
      top: 130px;
      left: -20px;

      @media screen and (max-width: 1024px) {
        top: -30px;
      left: 200px;
      }

      @media screen and (max-width: 640px) {
        left: 100px;
      }
    }

    &__text {
      color: $darkblue;
      font-weight: 500;
      font-size: 22px;
      transform: rotate(-90deg);
      margin-bottom: 160px;
      @media screen and (max-width: 1024px) {
        transform: rotate(0deg);
        margin-bottom: 0px;
      }

      @media screen and (max-width: 640px) {
       font-size: 14px;
      }
    }
  }
}
