.workshop {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background: url(../images/workshop/bg.png) right bottom no-repeat $blackSqueeze;
  background-size: 1380px;
  padding-top: 210px;
  padding-bottom: 100px;

  @media screen and (max-width: 1366px) {
    background-size: 950px;
  }

  @media screen and (max-width: 1024px) {
    padding-top: 70px;
  }

  &__content {
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  figure{
    margin-top: 65px;
  }

  h1 {
    font-size: 40px;
    color: $toreaBay;
    margin: 0;
    font-weight: 700;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    color: $osloGrey;
  }

  .btn {
    display: inline-block;
    padding-right: 55px;
    padding-left: 55px;
    margin-top: 40px;
  }

}