$white : #fff;
$black : #000;
$red : #e70a34;
$darkblue: #2b4ca6;
$colorF5: #f5f5f5;
$green: #4b8d55;
$rollingStone: #70797e;
$iron: #d7d8d9;
$pink: #ffe8f0;
$scarpaFlow: #58545c;
$vivid: #8b429c;
$mabel: #def8ff;
$linkWater: #c5e0f2;
$poloBlue: #84a2d2;

$deepKoamaru: #14337A;
$mariner: #3069C2;
$orange: #f59e3b;
$toreaBay: #0d3b85;
$spindle: #BFD3F2;
$chathamsBlue: #1C498F;
$sanMarino: #3d65a3;
$paleSky: #707680;
$eastBay: #48598c;
$selago: #F8FBFE;

$periwinkleGray: #BDC9E4;
$rumSwizzle: #F9F3E2;
$goldenGlow: #fde09a;
$westar: #e2dfd7;
$silverChalice: #b0b0b0;
$waikawaGray: #5A678E;
$cadetBlue: #b3b8cb;
$timberwolf: #D6D4D1;
$kashmirBlue: #4c5d8e;
$geyser: #cfd5e3;