$white : #fff;
$black : #000;
$darkblue: #1e3a7b;
$orange: #f59e3b;
$eastBay: #48598c;
$periwinkleGray: #BDC9E4;
$rumSwizzle: #F9F3E2;
$goldenGlow: #fde09a;
$westar: #e2dfd7;
$rollingStone: #70797e;
$silverChalice: #b0b0b0;
$waikawaGray: #5A678E;
$cadetBlue: #b3b8cb;
$timberwolf: #D6D4D1;
$kashmirBlue: #4c5d8e;
$geyser: #cfd5e3;
$red : #e11919;